* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Color styles */
:root {
--primarycolor: #FFFFFF;
--bg-secondarycolor: #D9D9D9;
--brandcolor: #7289DA;
--footercolor: #23272A;
--headercolor: #255EE9;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding-top:20px;
}

.jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}


li {
    list-style:none;
}

.d-flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    padding-left:3rem;
}


header 
{background-color: #255EE9;}