/* GENERAL AND RESET */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

li {
    list-style:none;
}

header 
{
    background-color: #255EE9;
    min-width: 1030px;

}

/* Color styles */
:root {
--primarycolor: #FFFFFF;
--bg-secondarycolor: #D9D9D9;
--brandcolor: #7289DA;
--footercolor: #23272A;
--headercolor: #255EE9;
}

.d-flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


.headerstyle {
    width: 80%;
    margin: 0 auto;
    padding-top:1.3rem;
    padding-bottom:3rem;
    color:var(--primarycolor)
}

.headerstyle a {
    padding-left:3rem;
}

.header-content {
    width: 40%;
    margin:0 auto;
}

.header-content h1 {
    font-size:2.8rem;
}

.header-content p {
    padding-top:1.5rem;
    padding-bottom:1rem;
    line-height: 1.8rem;
    font-size:18px;
}

.jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align:center;
    padding-top:5rem;
    color:var(--primarycolor);
    height: 700px;
}
